/* NAVBAR */
.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}
.nav-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  height: 4rem;
  
  justify-content: space-around;
  background-color: antiquewhite;
  border-bottom: 1px #000;
}
.nav-header a {
    padding-top: 0.7rem;
    color: #000;
    /* font-style: inherit; */
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.show-classdemo{
    width: 100vw;
    height: calc(100vh - 4rem);
}